<?xml version="1.0" encoding="UTF-8"?>
<!-- Mapping 설정은 root-context 에서 mybatis property 추가할 것-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.soomgo.soomgo_project.mappers.request.AnswerMapper">
    <insert id="answerRequest" parameterType="AnswerRequestDTO">
        <selectKey order="AFTER" keyProperty="id" resultType="int">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into answerrequest (requestId, expertNum, price, ref, file)
        select r.id, e.expert_num, #{price}, #{ref}, #{file}
        FROM request r,
        expert e
        WHERE r.id = #{requestId}
        and e.expert_num = #{expertNum};
    </insert>

    <update id="update" parameterType="AnswerRequestDTO"> <!-- 사용 안할 예정 -->
        update request
        set expertNum = CASE
        WHEN expertNum IS NULL THEN #{expertNum}
        ELSE CONCAT(expertNum, ',',#{expertNum}')
        END
        where id = #{requestId}
    </update>
</mapper>