<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.soomgo.soomgo_project.mappers.userpage.UserMapper">

    <select id="findByEmailAndPassword" parameterType="map" resultType="org.soomgo.soomgo_project.domain.userpage.UserDTO">
        SELECT * FROM user WHERE user_email = #{email} AND user_password = #{password}
    </select>

    <select id="findUserProfileByUserNum" parameterType="int" resultType="org.soomgo.soomgo_project.domain.userpage.UserProfileDTO">
        SELECT * FROM user_profile WHERE user_num = #{user_num}
    </select>

    <update id="updateUserProfile" parameterType="org.soomgo.soomgo_project.domain.userpage.UserProfileDTO">
        UPDATE user_profile
        SET
        user_nickname = #{user_nickname},
        profile_img = #{profile_img}
        WHERE user_num = #{user_num}
    </update>
</mapper>
