<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.soomgo.soomgo_project.mappers.expert.ExpertMapper">

    <resultMap id="expertResultMap" type="org.soomgo.soomgo_project.domain.expert.ExpertDTO">
        <id property="expertNum" column="expert_num"/>
        <result property="userNum" column="user_num"/>
        <result property="categoryNum" column="category_num"/>
        <result property="experienceYears" column="experience_years"/>
        <result property="education" column="education"/>
        <result property="img" column="img"/>
        <result property="rating" column="rating"/>
        <result property="region" column="region"/>
    </resultMap>

    <select id="getExpertList" resultMap="expertResultMap">
        SELECT expert_num, user_num, category_num, experience_years, education, rating, region FROM expert
        LIMIT 10
    </select>

    <select id="getExpertListStateDistrict" parameterType="map" resultMap="expertResultMap">
        SELECT expert_num, user_num, category_num, experience_years, education, rating, region
        FROM expert
        <where>
            <if test="category_num != null">
                AND category_num = #{category_num}
            </if>
            <if test="region != null">
                AND region = #{region}
            </if>
        </where>
    </select>

<!--    <select id="findExperts" resultType="org.soomgo.soomgo_project.domain.expert.ExpertDTO">-->
<!--        SELECT * FROM experts-->
<!--        WHERE 1 = 1-->
<!--        AND-->
<!--        <if test="categoryNum != null">-->
<!--            category_num = #{categoryNum}-->
<!--        </if>-->
<!--        <if test="region != null">-->
<!--            AND region = #{region}-->
<!--        </if>-->
<!--        LIMIT #{pageable.offset}, #{pageable.pageSize}-->
<!--    </select>-->

    <select id="findExperts" parameterType="map" resultMap="expertResultMap">
        SELECT *
        FROM expert
        WHERE 1=1
        <if test="categoryNum != null">
            AND category_num = #{categoryNum}
        </if>
        <if test="region != null">
            AND region = #{region}
        </if>
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="countExperts" parameterType="map" resultType="int">
        SELECT COUNT(*)
        FROM expert
        WHERE 1=1
        <if test="categoryNum != null">
            AND category_num = #{categoryNum}
        </if>
        <if test="region != null">
            AND region = #{region}
        </if>
    </select>

    <select id="expertDetail" parameterType="int" resultMap="expertResultMap">
        SELECT * FROM expert
        WHERE expert_num = #{expertNum}
    </select>
    <select id="updateExpertList" resultType="org.soomgo.soomgo_project.domain.expert.ExpertDTO">
        UPDATE expert SET category_num = #{category_num},
        experience_years = #{experience_years},
        education = #{education},
        img = #{img},
        profile_intro = #{profile_intro},
        WHERE user_num = #{user_num}
    </select>

    <update id="expertSignUp" parameterType="org.soomgo.soomgo_project.domain.expert.ExpertDTO">
        UPDATE expert
        SET region = #{region},
        experience_years = #{experienceYears},
        category_num = #{categoryNum}
        WHERE user_num = #{userNum}
    </update>

</mapper>