<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

    <!-- Appender 설정 -->
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ISO8601} %-5level %logger{36} - %msg%n">
                <Charset>UTF-8</Charset>
            </PatternLayout>
        </Console>

        <File name="file" fileName="./logs/file/sample.log" append="false">
            <PatternLayout pattern="%d{ISO8601} %-5level %logger{36} - %msg%n">
                <Charset>UTF-8</Charset>
            </PatternLayout>
        </File>
    </Appenders>

    <Loggers>
        <Logger name="org.soomgo" level="DEBUG" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        <Logger name="javax.sql" level="DEBUG" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        <Root level="INFO">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>

</Configuration>