<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.soomgo.soomgo_project.mappers.category.CategoryMapper">

    <select id="getCategoryAll" resultType="org.soomgo.soomgo_project.domain.category.CategoryDTO">
        SELECT * FROM category
        ORDER BY Id ASC, P_Id ASC
    </select>

    <select id="getCategoryZero" resultType="org.soomgo.soomgo_project.domain.category.CategoryDTO">
        SELECT * FROM category
        WHERE P_Id = 0
    </select>

    <select id="getCategoryNotZero" resultType="org.soomgo.soomgo_project.domain.category.CategoryDTO">
        SELECT * FROM category
        WHERE P_Id != 0
    </select>

    <select id="getCategoryId" parameterType="int" resultType="org.soomgo.soomgo_project.domain.category.CategoryDTO">
        SELECT * FROM category
        WHERE Id = ${Id}
        AND P_Id != 0
    </select>

    <select id="getCategoryP_Id" parameterType="int" resultType="org.soomgo.soomgo_project.domain.category.CategoryDTO">
        SELECT * FROM category
        WHERE P_Id = ${P_Id}
    </select>

<!--    <select id="getCategoryId1" parameterType="int" resultType="org.soomgo.soomgo_project.domain.category.CategoryDTO">-->
<!--        SELECT * FROM category-->
<!--        WHERE Id = 1-->
<!--        AND P_Id != 0-->
<!--    </select>-->

<!--    <select id="getCategoryId2" parameterType="int" resultType="org.soomgo.soomgo_project.domain.category.CategoryDTO">-->
<!--        SELECT * FROM category-->
<!--        WHERE Id = 2-->
<!--        AND P_Id != 0-->
<!--    </select>-->

<!--    <select id="getCategoryId3" parameterType="int" resultType="org.soomgo.soomgo_project.domain.category.CategoryDTO">-->
<!--        SELECT * FROM category-->
<!--        WHERE Id = 3-->
<!--        AND P_Id != 0-->
<!--    </select>-->

<!--    <select id="getCategoryId4" parameterType="int" resultType="org.soomgo.soomgo_project.domain.category.CategoryDTO">-->
<!--        SELECT * FROM category-->
<!--        WHERE Id = 4-->
<!--        AND P_Id != 0-->
<!--    </select>-->

<!--    <select id="getCategoryId5" parameterType="int" resultType="org.soomgo.soomgo_project.domain.category.CategoryDTO">-->
<!--        SELECT * FROM category-->
<!--        WHERE Id = 5-->
<!--        AND P_Id != 0-->
<!--    </select>-->

<!--    <select id="getCategoryIdOther" parameterType="int" resultType="org.soomgo.soomgo_project.domain.category.CategoryDTO">-->
<!--        SELECT * FROM category-->
<!--        WHERE Id > 5-->
<!--        AND P_Id != 0-->
<!--    </select>-->

</mapper>