<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.soomgo.soomgo_project.mappers.userpage.ProfileMapper">

    <select id="findExpertProfile" resultType="org.soomgo.soomgo_project.domain.expert.ExpertDTO">
        SELECT expert_num, user_num, experience_years, introduce, contact_start, contact_end, employees
        FROM expert
        WHERE user_num = #{user_num}
    </select>

    <update id="updateExpertIntro" parameterType="org.soomgo.soomgo_project.domain.expert.ExpertDTO">
        UPDATE expert
        SET
        introduce = #{introduce},
        contact_start = #{contact_start},
        contact_end = #{contact_end},
        employees = #{employees}
        WHERE user_num = #{user_num}
    </update>

    <update id="updateExpertYears" parameterType="org.soomgo.soomgo_project.domain.expert.ExpertDTO">
        UPDATE expert
        SET
        experience_years = #{experience_years}
        WHERE user_num = #{user_num}
    </update>

    <select id="findExpertPortfolio" resultType="org.soomgo.soomgo_project.domain.expert.ExpertPortfolioDTO">
        SELECT * FROM expert_pf WHERE expert_num = #{expert_num}
    </select>



    <insert id="createExpertPortfolio" parameterType="org.soomgo.soomgo_project.domain.expert.ExpertPortfolioDTO" useGeneratedKeys="true" keyProperty="portfolio_num">
        INSERT INTO expert_pf (
        expert_num,
        title,
        thumbnail,
        total_price,
        work_year,
        duration,
        duration_value,
        description,
        category_num
        )
        VALUES (
        #{expert_num},
        #{title},
        #{thumbnail},
        #{total_price},
        #{work_year},
        #{duration},
        #{duration_value},
        #{description},
        #{category_num}
        )
    </insert>



    <insert id="insertPortfolioImages" parameterType="map">
        INSERT INTO expert_pf_images (portfolio_num, image_url)
        VALUES
        <foreach collection="images" item="image" separator=",">
            (#{portfolio_num}, #{image})
        </foreach>
    </insert>

    <select id="getExpertPortfolios" parameterType="int" resultType="org.soomgo.soomgo_project.domain.expert.ExpertPortfolioDTO">
        SELECT * FROM expert_pf WHERE expert_num = #{expert_num}
    </select>


</mapper>
